language: python
cache: pip
dist: bionic

matrix:
    fast_finish: true
    include:
      - { python: "3.4", env: DJANGO=1.11 }

      - { python: "3.5", env: DJANGO=1.11 }
      - { python: "3.5", env: DJANGO=2.1 }
      - { python: "3.5", env: DJANGO=2.2 }

      - { python: "3.6", env: DJANGO=1.11 }
      - { python: "3.6", env: DJANGO=2.1 }
      - { python: "3.6", env: DJANGO=2.2 }
      - { python: "3.6", env: DJANGO=3.0 }

      - { python: "3.7", env: DJANGO=1.11 }
      - { python: "3.7", env: DJANGO=2.1 }
      - { python: "3.7", env: DJANGO=2.2 }
      - { python: "3.7", env: DJANGO=3.0 }
      - { python: "3.7", env: DJANGO=master }

      - { python: "3.8", env: DJANGO=2.2 }
      - { python: "3.8", env: DJANGO=3.0 }
      - { python: "3.8", env: DJANGO=master }

install:
  - pip install tox tox-venv tox-travis pip wheel codecov -U

script:
  - tox

after_success:
  - codecov -e TOX_ENV

branches:
  only:
    - master
