sudo: false

language: python

python:
  - "3.5"

# Make sure all the python versions we need are pre-installed
addons:
  apt:
    sources:
    - deadsnakes
    packages:
    - python3.4
    - python3.6

env:
  - TOXENV=py34-django111,py35-django111,py36-django111
  - TOXENV=py34-django20,py35-django20,py36-django20
  - TOXENV=py35-django21,py36-django21

install:
  - pip install tox pip wheel codecov -U

script:
  - tox

after_success:
  - codecov -e TOX_ENV

branches:
  only:
    - master
