ul.selectable-deck, ul.ui-autocomplete {
    list-style: none outside none;
}
ul.selectable-deck li.selectable-deck-item,
ul.ui-autocomplete li.ui-menu-item {
    margin: 0;
    list-style-type: none;
}
ul.selectable-deck li.selectable-deck-item .selectable-deck-remove {
    float: right;
}
ul.selectable-deck-bottom-inline,
ul.selectable-deck-top-inline {
    padding: 0;
}
ul.selectable-deck-bottom-inline li.selectable-deck-item,
ul.selectable-deck-top-inline li.selectable-deck-item {
    display: inline;
}
ul.selectable-deck-bottom-inline li.selectable-deck-item .selectable-deck-remove,
ul.selectable-deck-top-inline li.selectable-deck-item .selectable-deck-remove {
    margin-left: 0.4em;
    display: inline;
    float: none;
}
ul.ui-autocomplete li.ui-menu-item span.highlight {
    font-weight: bold;
}
