{% extends "admin/base.html" %}
{% block title %}{{ title }} | Django-Selectable Example Site{% endblock %}
{% block extrahead %}
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css" type="text/css" media="screen">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
{% endblock %}
{% block branding %}
<h1 id="site-name">Django-Selectable Administration</h1>
{% endblock %}
{% block nav-global %}{% endblock %}
