{% extends "admin/base.html" %}
{% block title %}{{ title }} | Django-Selectable Example Site{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
{% endblock %}
{% block branding %}
<h1 id="site-name">Django-Selectable Administration</h1>
{% endblock branding %}
{% block nav-global %}{% endblock nav-global %}
