body {
    padding-top: 60px;
}
input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input.ui-autocomplete-input {
    padding: 0;
    margin-top: -3px;
    margin-bottom: 0;
    height: 1.5em;
}


